{% extends "leave_layout.html" %}

{% block content %}
        <h1 class="title"> All the employees</h1>

        {% if employees %}
        <form action="" method="post" name="employee_list">
        <table class = "table is-striped" id='employee_table'>

            <thead>
                <tr>
<th>Select</th>
                      <th>Employee number</th>
                    <th>Employee name</th>
                    <th>Casual leave balance </th>
                     <th>Sick leave balance </th>
                      <th>Earned leave balance </th>
                       <th>Restricted holiday balance </th>
                        <th>Earned Leave updated as on: </th>
                         <th>Lapsed sick leave </th>
                          <th>Lapsed earned leave</th>
                </tr>
            </thead>
            <tbody>

            {% for employee in employees %}
            <tr>
<td>
                <label class="checkbox">
                    <input type="checkbox" name="employee_keys" value="{{ employee.id }}"/>
                </label></td>
                <td>

                        {{ employee.emp_number }}
                </td>
                  <td>
                  <a href="{{ url_for ('employee_page', emp_key=employee.id) }}">
                      {{employee.name}}</a>
                  </td>
 <td>{{ employee.count_casual_leave }}
 </td>
 <td>{{ employee.count_sick_leave }}
 </td>
 <td>{{ employee.count_earned_leave | dec_to_proper_frac }} 
 </td>
 <td>{{ employee.count_restricted_holiday }}


     <td>

                        {{ employee.leave_as_on }}
                </td>
                
                     <td>

                        {{ employee.lapsed_sick_leave}}
                </td>
                
                     <td>

                        {{ employee.lapsed_earned_leave | dec_to_proper_frac }}
                </td>
                     </tr>


            {% endfor %}
            </tbody>
        </table>


        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger is-small">Delete</button>
            </div>
        </div>
        </form>

        {% endif %}

 <br>


<a class="button is-link" href="{{url_for('create_employee')}}">Create new employee</a>


                  <a class="button is-link" href="{{ url_for ('leave_project') }}">
                    Go back to leave management home</a>

        {% block scripts %}
        <script>
            $(document).ready(function () {
                            $('#employee_table').DataTable({
                                dom: 'lfBrtip',
                                buttons: [
                                                'copyHtml5',
                                                'csvHtml5',
                                                'excelHtml5'],
                                order: [[0,'asc']],
                                            pagingType: 'full_numbers',
                                lengthMenu: [
                                             [10,25,50,100,-1],
                                            [10,25,50,100,'All'],]
                                        });
                        });
        </script>
        {% endblock %}


{% endblock %}

