{% extends "leave_layout.html" %}

{% block content %}
        <h1 class="title"> All the employees</h1>

        {% if employees %}
        <form action="" method="post" name="employee_list">
        <table class = "table is-striped" id='employee_table'>

            <thead>
                <tr>
<th>Select</th>
                      <th>Employee number</th>
                    <th>Employee name</th>
                    <th>Leave updated as on: </th>
                </tr>
            </thead>
            <tbody>

            {% for employee in employees %}
            <tr>
<td>
                <label class="checkbox">
                    <input type="checkbox" name="employee_keys" value="{{ employee.id }}"/>
                </label></td>
                <td>

                        {{ employee.emp_number }}</a>
                </td>
                  <td>
                  <a href="{{ url_for ('employee_page', emp_key=employee.id) }}">
                      {{employee.name}}</a>
                  </td>

     <td>

                        {{ employee.leave_as_on }}
                </td>
                     </tr>


            {% endfor %}
            </tbody>
        </table>


        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger is-small">Delete</button>
            </div>
        </div>
        </form>

        {% endif %}



                  <a class="button is-link" href="{{ url_for ('leave_project') }}">
                    Go back to leave management home</a>
{% endblock %}

