{% extends "leave_layout.html" %}
{% block content %}
<h1 class="title">Calculate earned leave</h1>

<form action="" method="post" name="employee_edit">
    {{ form.csrf_token }}
<table class="table">
    <tr>
        <th>Employee name:</th>
        <td>{{ employee.name }}</td>
    </tr>
    <tr>
        <th>Employee number:</th>
        <td> {{ employee.emp_number }} </td>
    </tr>
            <tr>
        <th>Leave updated as on:</th>
        <td> {{ employee.leave_as_on }} </td>
    </tr>

        <tr>
        <th>Current earned leave balance:</th>
        <td> {{ employee.count_earned_leave| dec_to_proper_frac }} </td>
    </tr>

        <tr>
        <th>Earned leave details:</th>
           {% autoescape false %}

        <td> {{ employee.history_earned_leave }} </td>
        {% endautoescape %}

    </tr>


            <tr>
            <th>{{form.start_date.label}}</th>
            <td>{{ form.start_date( class='input') }}</td>
        </tr>
</table>

       <div class="field is-grouped">
        <button class="button is-primary is-big">Save</button>
    </div>
 {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
</form>
                  <a class="button is-link" href="{{ url_for ('employee_page', emp_key=employee.id) }}">
                    Go back to employee page</a>
{% endblock %}
