{% extends "leave_layout.html" %}
{% block content %}
<h1 class="title">Employee leave details</h1>
         {% if current_user.is_admin or 
         current_user.emp_number == employee.emp_number   %}
 <form action="" method="post" name="employee_page">

<table class="table">

    <tr>
        <th>Employee name:</th>
        <td>{{ employee.name }}</td>
    </tr>
    <tr>
        <th>Employee number:</th>
        <td> {{ employee.emp_number }} </td>
    </tr>
        <tr>
        <th>Earned Leave updated as on:</th>
        <td> {{ employee.leave_as_on }} </td>
    </tr>

        <tr>
        <th>Special leave details:</th>
         {% autoescape false %}
        <td> {{ employee.history_special_leave }} </td>
        {% endautoescape %}
    </tr>
        <tr>
        <th>Leave encashment: </th>
         {% autoescape false %}
        <td> {{ employee.history_leave_encashment }} </td>
        {% endautoescape %}
    </tr>
</table>

  <table class="table is-bordered is-striped is-hoverable is-fullwidth" id="leave_details">
      <tr class="has-text-centered">
      <th>Leave type </th>
 <th>Casual leave </th>
 <th>Sick leave </th>
 <th>Earned leave </th>
 <th>Restricted Holiday </th>
 </tr>
 <tr class="has-text-right">
 <th>Leave balance </th>
 <td>{{ employee.count_casual_leave }} </td>
 <td>{{ employee.count_sick_leave }} </td>
 <td>{{ employee.count_earned_leave | dec_to_proper_frac }} (As on {{ employee.leave_as_on }}) </td>
 <td>{{ employee.count_restricted_holiday }} </td>

 </tr>
 <tr>
 <th>Leave details </th>
          {% autoescape false %}
         <td> {{ employee.history_casual_leave }} </td>
         <td> {{ employee.history_sick_leave }} </td>
         <td> {{ employee.history_earned_leave }} </td>
         <td> {{ employee.history_restricted_holiday }} </td>
         {% endautoescape %}


 </tr>
 </table>


<br>

<div class="buttons is-centered">

  <a class="button is-primary is-light " href="{{url_for('reports_leaves', emp_key=employee.id )}}">Leaves taken</a>
  <a class="button is-primary is-light " href="{{url_for('reports_leave_letter', emp_key=employee.id )}}">Leave letter status</a>
 <a class="button  is-link" href="{{url_for('add_casual_leave', emp_key=employee.id )}}">Add casual leave</a>
<a class="button is-link " href="{{url_for('add_rh_leave', emp_key=employee.id )}}">Add restricted holiday</a>
 <a class="button is-link" href="{{url_for('add_earned_leave', emp_key=employee.id )}}">Add earned leave</a>
 <a class="button is-link" href="{{url_for('add_sick_leave', emp_key=employee.id )}}">Add sick leave</a>
<a class="button is-link " href="{{url_for('add_lop_leave', emp_key=employee.id )}}">Add LOP / Strike</a>
 <a class="button is-link " href="{{url_for('add_special_leave', emp_key=employee.id )}}">Add Special leave</a>
  <a class="button is-link " href="{{url_for('add_leave_encashment', emp_key=employee.id )}}">Add leave encashment</a>
 <a class= "button is-danger is-light" href="{{url_for('show_all_employees')}}"> Go back</a>
</div>

  <br>
 <br>
 {% if current_user.is_admin %}

 <a class="button is-warning is-light" href="{{url_for('calc_earned_leave_page', emp_key=employee.id )}}">Calculate Earned leave</a>
  <button class="button is-danger is-big">New Year reset</button>
<a class="button is-success" href="{{url_for('create_employee')}}">Create new employee</a>

{% endif %}
    </form>
    {% endif %}
{% endblock %}
