{% extends "leave_layout.html" %}
{% block content %}
<h1 class="title">Employee leave details</h1>
{% if current_user.is_admin or
current_user.emp_number == employee.emp_number %}
<form action="" method="post" name="employee_page">

    <table class="table is-fullwidth">

        <tr>
            <th>Employee name:</th>
            <td>{{ employee.name }}</td>
        </tr>
        <tr>
            <th>Employee number:</th>
            <td> {{ employee.emp_number }} </td>
        </tr>
        <tr>
            <th>Earned Leave updated as on:</th>
            <td> {{ employee.leave_as_on }} </td>
        </tr>

        <tr>
            <th>Special leave details:</th>
            {% autoescape false %}
            <td> {{ employee.history_special_leave }} </td>
            {% endautoescape %}
        </tr>
        <tr>
            <th>Leave encashment: </th>
            {% autoescape false %}
            <td> {{ employee.history_leave_encashment }} </td>
            {% endautoescape %}
        </tr>
    </table>

    <table class="table is-bordered is-striped is-hoverable is-fullwidth" id="leave_details">
        <tr class="has-text-centered">
            <th>Leave type </th>
            <th>Casual leave </th>
            <th>Sick leave </th>
            <th>Earned leave </th>
            <th>Restricted Holiday </th>
        </tr>
        <tr class="has-text-centered">
            <th>Leave balance </th>
            <td>{{ employee.count_casual_leave }} </td>
            <td>{{ employee.count_sick_leave }} (half pay) </td>
            <td>{{ employee.count_earned_leave | dec_to_proper_frac }} (As on {{ employee.leave_as_on }}) </td>
            <td>{{ employee.count_restricted_holiday }} </td>

        </tr>
        <tr class="has-text-centered">
            <th>Leave details </th>
            {% autoescape false %}
            <td> {{ employee.history_casual_leave }} </td>
            <td> {{ employee.history_sick_leave }} </td>
            <td> {{ employee.history_earned_leave }} </td>
            <td> {{ employee.history_restricted_holiday }} </td>
            {% endautoescape %}

        </tr>
    </table>

    <div class="mt-5 buttons">

        <a class="button is-primary" href="{{ url_for('reports_leaves', emp_key=employee.id )}}">Leaves taken</a>
        <a class="button is-primary" href="{{ url_for('reports_leave_letter', emp_key=employee.id )}}">Leave letter status</a>

    </div>
    {% if current_user.is_admin %}
    <div class="buttons mt-5">
        <a class="button is-link" href="{{ url_for('add_casual_leave', emp_key=employee.id )}}">Add casual leave</a>
        <a class="button is-link" href="{{ url_for('add_rh_leave', emp_key=employee.id )}}">Add restricted holiday</a>
        <a class="button is-link" href="{{ url_for('add_earned_leave', emp_key=employee.id )}}">Add earned leave</a>
        <a class="button is-link" href="{{ url_for('add_sick_leave', emp_key=employee.id )}}">Add sick leave</a>
        <a class="button is-link" href="{{ url_for('add_lop_leave', emp_key=employee.id )}}">Add LOP / Strike</a>
        <a class="button is-link" href="{{ url_for('add_special_leave', emp_key=employee.id )}}">Add Special leave</a>
        <a class="button is-link" href="{{ url_for('add_leave_encashment', emp_key=employee.id )}}">Add leave encashment</a>
        <a class="button is-danger is-light" href="{{ url_for('show_all_employees') }}"> Go back</a>

    <a class="button is-warning is-light" href="{{ url_for('edit_employee', emp_key=employee.id )}}">Edit employee details</a>
    <a class="button is-warning is-light" href="{{ url_for('calc_earned_leave_page', emp_key=employee.id )}}">Calculate Earned leave</a>
    <button class="button is-danger is-big">New Year reset</button>
    <a class="button is-success" href="{{ url_for('create_employee') }}">Create new employee</a>
    </div>
    {% endif %}
</form>

{% if image %}
<!-- djlint:off -->
<div class="is-centered mt-4">
<img src="{{ url_for('static', filename=image) }}" alt="Calender leave heatmap" />
</div>
<!-- djlint:on -->
{% endif %}
{% endif %}
{% endblock content %}
