{% extends "leave_layout.html" %}
{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class"container has-text-centered">

            <h1 class="title">Leave List</h1>

    </div>
</section>
        {% for table in tables %}

        {{ table|safe }}
        {% endfor %}

        {% block scripts %}
        <script>
            $(document).ready(function () {
                            $('#table').DataTable({
                                            dom: 'lfBrtip',
                                buttons: [
                                             {   extend: 'copyHtml5', className: 'is-danger is-rounded'},
                                              { extend: 'csvHtml5', className: 'is-info is-rounded'},
                                               { extend: 'excelHtml5', className: 'is-primary is-rounded'}],
                                            order: [[0,'asc']],
                                            pagingType: 'full_numbers',
                                            lengthMenu: [
                                                            [10,25,50,100,-1],
                                                            [10,25,50,100,'All'],]
                                        });
                        });
        </script>
        {% endblock scripts %}
        {% endblock content %}
