{% extends "layout.html" %}
{% block content %}
        <h1 class="title"> Payments to be receipted</h1>

        {% if payments %}
        <form action="" method="post" name="payment_list">
        <table class="table is-striped is-fullwidth" id="payment_table">

            <thead>
                <tr>
{% if current_user.is_admin %}
                    <th>Select</th>
                    {% endif %}
                    <th>Customer name</th>
                    <th>Date of payment</th>
                    <th>Amount</th>
                    <th>Mode of payment</th>
                    <th>Mode of entry</th>
                    <th>Customer ID</th>
                    <th>Relationship manager</th>
                    <th>Broker</th>
                    <th>Nature of proposal</th>
                    <th>Assigned to</th>

                    <th>Ticket</th>
			 <th>Current status</th>
                </tr>
            </thead>
            <tbody>

            {% for payment in payments %}
            {% if payment.status == "To be receipted"
            or payment.status == "Waiting for payment"
            or payment.status == "To be refunded" %}
            <tr>
                {% if current_user.is_admin %}
                <td>
                <label class="checkbox">
                    <input type="checkbox" name="payment_keys" value="{{ payment.id }}"/>
                </label></td>
                {% endif %}
                <td>
                    <a href="{{ url_for ('payment_page', payment_key=payment.id) }}">

                        {{ payment.customer }}</a>
                </td>
                    <td>{{ payment.date }}</td>
                      <td class="has-text-right">{{ "{:,}".format(payment.amount|int)}}</td>

                     <td>{{ payment.mode }}</td>
                     <td>{{ payment.modeentry }}</td>

{% if payment.customerid != None and
 payment.customerid|length %}

<td class="has-background-primary">{{ payment.customerid }}</td>
{% else %}
<td >{{ payment.customerid }}</td>
{% endif %}
                    <td>{{ payment.rel_manager }}</td>
                    <td>{{ payment.broker }}</td>
                    <td>{{ payment.nature }}</td>

                    <td>{{ payment.underwriter }}</td>

                    <td>{{ payment.ticket }}</td>
                    {% if payment.status != "To be receipted" %}
                    <td class="has-background-info">{{ payment.status }}</td>
                    {% else %}
                    <td>{{ payment.status }}</td>
                    {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% if current_user.is_admin %}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger is-small">Delete</button>
            </div>
        </div>
        {% endif %}
        </form>
        {% endif %}

        {% block scripts %}
        <script>
            $(document).ready(function () {
                            $('#payment_table').DataTable({
                                dom: 'lfBrtip',
                                buttons: [
                                             {   extend: 'copyHtml5', className: 'is-danger is-rounded'},
                                              { extend: 'csvHtml5', className: 'is-info is-rounded'},
                                               { extend: 'excelHtml5', className: 'is-primary is-rounded'}],
                                order: [[1,'desc']],
                                            pagingType: 'full_numbers',
                                lengthMenu: [
                                             [10,25,50,100,-1],
                                            [10,25,50,100,'All'],]
                                        });
                        });
        </script>
        {% endblock scripts %}
        {% endblock content %}
