{% extends "layout.html" %}
{% block title %}Home {% endblock %}
{% block content %}
        <h1 class="title"> Payments pending</h1>

        {% if payments %}
        <table class = "table is-striped">

            <thead>
                <tr>
                    <th>Customer name</th>
                    <th>Date of payment</th>
                    <th>Amount</th>
                    <th>Mode of payment</th>
            </thead>
            <tbody>

            {% for payment_key, payment in payments %}
            <tr>
                <td>

                    <a href="{{ url_for ('payment_page', payment_key=payment_key) }}">

                        {{ payment.customer }}</a>
                </td>
                    <td>{{payment.date}}</td>
                     <td>{{}}</td>
                     <td>{{}}</td>
                     <td>{{}}</td>

            </tr>
            {% endfor %}
        </table>
        {% endif %}



{% endblock %}
