{% extends "layout.html" %}
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
{% block title %}Home {% endblock %}
{% block content %}
        <h1 class="title"> Payments pending for underwriting</h1>



        {% if payments %}
        <form action="" method="post" name="payment_list">
<div id="table"></div>
        <table class = "table is-striped" data-filter-control="true"  id="payment_table"
                    >

            <thead>
                <tr>
{% if current_user.is_superadmin %}
                    <th>Select</th>
                    {% endif %}

                    <th>Customer name</th>
                    <th>Date of payment</th>
                    <th>Amount</th>
                    <th>Mode of payment</th>
                    <th>Mode of entry</th>
                    <th>Customer ID</th>
                    <th>Relationship manager</th>
                    <th>Broker</th>
                    <th>Nature of proposal</th>
                    <th data-filter-control="select" data-sortable="true">Assigned to</th>
                   
                    <th>Ticket</th> <th>Current status</th>
        
                </tr>
            </thead>
            <tbody>

            {% for payment_key, payment in payments %}
            {% if payment.status != "Completed" %}
		{% if payment.status != "To be receipted" %}
            <tr>
{% if current_user.is_superadmin%}
                <td>
                <label class="checkbox">
                    <input type="checkbox" name="payment_keys" value="{{ payment_key }}"/>
                </label></td>
                {% endif %}

                <td>
                    <a href="{{ url_for ('payment_page', payment_key=payment_key) }}">

                        {{ payment.customer }}</a>
                </td>
                    <td>{{payment.date}}</td>
                    <td style="text-align:right">{{ "{:,}".format(payment.amount|int)}}</td>
                     <td>{{payment.mode}}</td>
                     <td>{{payment.modeentry}}</td> 
                    
                     <td>{{payment.customerid}}</td>
                     <td>{{payment.rel_manager}}</td>
                     <td>{{payment.broker}}</td>
                      <td>{{payment.nature}}</td> 
                     
                    <td>{{payment.underwriter}}</td>
               
                    <td>{{payment.ticket}}</td>
            {% if payment.status == "Approval pending"  %}
                <td class="under-limit" style ="background-color: red">{{ payment.status }}</td>
   	 {% elif payment.status == "GC Core issue - ticket raised"  %}
                <td class="under-limit" style ="background-color: grey">{{ payment.status }}</td>
 	{% elif payment.status == "Awaiting further details from brokers/insured"  %}
                <td class="under-limit" style ="background-color: yellow">{{ payment.status }}</td>
                {% elif payment.status == "Work in progress"  %}
                <td class="under-limit" style ="color: blue"><b>{{ payment.status }}</b></td>

            {% else %}
              
      		   <td>{{payment.status}}</td> 
   {% endif %}
            </tr>
            {% endif %}
{% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% if current_user.is_superadmin %}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger is-small">Delete</button>
            </div>
        </div>
        </form>
        {% endif %}
        {% endif %}

        {% block scripts %}
        <script>
            $(document).ready(function () {
                            $('#payment_table').DataTable({
                                order: [[1,"asc"]]
                                        });
                        });
        </script>
        {% endblock %}
{% endblock %}

