{% extends "layout.html" %}
{% block title %}Payment{% endblock %}
{% block content %}
<h1 class="title">Payment</h1>

<table class="table">
    <tr>
        <th>Customer name:</th>
        <td>{{ payment.customer }}</td>
    </tr>
    <tr>
        <th>Date:</th>
        <td> {{ payment.date }} </td>
    </tr>
    <tr>
        <th>Amount:</th>
        <td >{{ "{:,}".format(payment.amount|int)}}</td>

    </tr>

    <tr>
        <th>Mode of payment:</th>
        <td> {{ payment.mode }}</td>
    </tr>
    
    <tr>
        <th>Mode of entry: </th>
        <td> {{ payment.modeentry }}</td>
    </tr>
    <tr>
        <th>Customer ID:</th>
        <td>{{ payment.customerid}}</td>
    </tr>
    <tr>
        <th>Voucher number:</th>
        <td>{{ payment.voucher}}</td>
    </tr>
    <tr>
        <th>Relationship manager:</th>
        <td> {{ payment.rel_manager }}</td>
    </tr>
    <tr>
        <th>Broker: </th>
        <td> {{ payment.broker }}</td>
    </tr>
    <tr>
        <th>Nature of proposal:</th>
        <td> {{ payment.nature }}</td>
    </tr>
    <tr>
        <th>Remarks:</th>
        <td> {{ payment.remarks }}</td>
    </tr>
    <tr>
        <th>Proposal:</th>
        <td> {{ payment.proposal }}</td>
    </tr>
    <tr>
        <th>Policy no: </th>
        <td>{{ payment.policyno}} </td>
    </tr>
    <tr>
        <th>Underwriter:</th>
        <td> {{ payment.underwriter }}</td>
    </tr>
    <tr>
        <th>Ticket number:</th>
        <td> {{ payment.ticket }}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td> {{ payment.status }}</td>
        
    </tr>
    <tr><th>Created:</th>
        <td>{{payment.created}}</td>
    </tr>
    <tr><th>Updates:</th>
        {% autoescape false %}
        <td>{{payment.history}}</td>
        {% endautoescape %}
        
    </tr>
    {% if payment.status == "Completed" %}
    <tr><th>Completed on: </th>
        <td>{{payment.completed}}</td>
    </tr>
    {% endif %}
</table>

{% if payment.status != "Completed"%}
<div class="field is-grouped">
    <div class="control">
        <a class="button is-primary is-outlined is-big"
           href="{{ request.path }}/edit">Edit</a>
    </div>
</div>
{% endif %}
{% endblock %}
