{% extends "layout.html" %}
{% block content %}
<h1 class="title"> {{ title }}</h1>

{% if payments %}
<form action="" method="post" name="payment_list">
    <table class="table is-striped is-fullwidth" id="payment_table">

        <thead>
            <tr>
                {% if current_user.is_admin %}
                <th>Select</th>
                {% endif %}
                <th>Customer name</th>
                <th>Date of payment</th>
                <th>Amount</th>
                <th>Instrument Number</th>
                <th>Mode of payment</th>
                <th>Mode of entry</th>
                <th>Customer ID</th>
                <th>Relationship manager</th>
                <th>Assigned to</th>
                <th>Current status</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                {% if current_user.is_admin %}
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="payment_keys" value="{{ payment.id }}"/>
                    </label></td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for ('payment_page', payment_key=payment.id ) }}">
                            {{ payment.customer }}</a>
                    </td>
                    <td data-sort={{ payment.date or '' }}>
                        {% if payment.date %}
                        {{ payment.date.strftime('%d-%m-%Y') }}
                        {% endif %}
                    </td>
                    <td class="has-text-right">{{ "{:,}".format(payment.amount|int) }}</td>
                    <td>{{ payment.instrumentno or '' }}</td>
                    <td>{{ payment.mode or '' }}</td>
                    <td>{{ payment.modeentry or '' }}</td>
                    {% if title == "Payments to be receipted" and
                        payment.customerid != None and
                        payment.customerid|length %}
                        <td class="has-background-primary">{{ payment.customerid }}</td>
                    {% else %}
                        <td >{{ payment.customerid or '' }}</td>
                    {% endif %}

                    <td>{{ payment.rel_manager or '' }}</td>
                    <td>{{ payment.underwriter or '' }}</td>
                                {% if payment.status == "Approval pending" %}
                                    <td class="has-background-danger">{{ payment.status }}</td>
                       	         {% elif payment.status == "GC Core issue - ticket raised" %}
                                    <td class="has-background-primary">{{ payment.status }}</td>
                     	        {% elif payment.status == "Awaiting further details from brokers/insured" %}
                                    <td class="has-background-warning">{{ payment.status }}</td>
                                {% elif payment.status == "Work in progress" %}
                                    <td class="has-text-info"><b>{{ payment.status }}</b></td>
                                {% elif payment.status == "Waiting for payment" %}
                                    <td class="has-background-info">{{ payment.status }}</td>
                                {% elif payment.status == "To be refunded" %}
                                    <td class="has-background-info">{{ payment.status }}</td>
                                {% else %}
                                    <td>{{ payment.status }}</td>
                                {% endif %}
                                <td><a class="button is-info js-modal-trigger" data-target="modal{{ payment.id }}">View</a></td>
				{% if payment.status == "Completed" %}

				<td><a class="button is-link" disabled>Edit</a> </td>
				{% else %}
				<td><a class="button is-link is-outlined" href="{{ url_for ('payment_edit_page', payment_key=payment.id)}}">Edit</a> </td>
				{% endif %}
                                </tr>
            {% endfor %}
        </tbody>
                    <tfoot>
            <tr>
                <th colspan="2" class="has-text-left">Total:</th>
                <th colspan="9"></th>
            </tr>
        </tfoot>

    </table>

        {% for payment in payments %}
        <!---modal -->
        <div class="modal" id="modal{{ payment.id }}">
         <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
 <table class="table is-fullwidth">
    <tr>
        <th>Customer name:</th>
        <td>{{ payment.customer }}</td>
    </tr>
    <tr>
        <th>Date:</th>
        <td>
            {% if payment.date %}
            {{ payment.date.strftime('%d-%m-%Y') }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Amount:</th>
        <td >{{ "{:,}".format(payment.amount|int) }}</td>

    </tr>
    <tr>
        <th>Instrument Number: </th>
        <td>{{ payment.instrumentno }}</td>
    </tr>
    <tr>
        <th>Mode of payment:</th>
        <td> {{ payment.mode }}</td>
    </tr>

    <tr>
        <th>Mode of entry: </th>
        <td> {{ payment.modeentry }}</td>
    </tr>
    <tr>
        <th>Customer ID:</th>
        <td>{{ payment.customerid }}</td>
    </tr>
    <tr>
        <th>Voucher number:</th>
        <td>{{ payment.voucher }}</td>
    </tr>
    <tr>
        <th>Relationship manager:</th>
        <td> {{ payment.rel_manager }}</td>
    </tr>
    <tr>
        <th>Broker: </th>
        <td> {{ payment.broker }}</td>
    </tr>
    <tr>
        <th>Nature of proposal:</th>
        <td> {{ payment.nature }}</td>
    </tr>
    <tr>
        <th>Remarks:</th>
        <td> {{ payment.remarks }}</td>
    </tr>
    <tr>
        <th>Proposal:</th>
        <td> {{ payment.proposal }}</td>
    </tr>
    <tr>
        <th>Policy no: </th>
        <td>{{ payment.policyno }}</td>
    </tr>
    <tr>
        <th>Underwriter:</th>
        <td> {{ payment.underwriter }}</td>
    </tr>
    <tr>
        <th>Ticket number:</th>
        <td> {{ payment.ticket }}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td> {{ payment.status }}</td>

    </tr>
    <tr><th>Created:</th>
        <td>{{ payment.created }}</td>
    </tr>
    <tr><th>Updates:</th>
        {% autoescape false %}
        <td>{{ payment.history }}</td>
        {% endautoescape %}

    </tr>
    {% if payment.status == "Completed" %}
    <tr><th>Completed on: </th>
        <td>{{ payment.completed }}</td>
    </tr>
    {% endif %}
</table>
            </div>

            </div>
             <button class="modal-close is-large" aria-label="close"></button>
</div>

        {% endfor %}

    {% if current_user.is_admin %}
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-danger is-small">Delete</button>
        </div>
    </div>
</form>
{% endif %}
{% endif %}

{% block scripts %}
        <script>
            $(document).ready(function () {
                            $('#payment_table').DataTable({
                                dom: 'lfBrtip',
                                fixedHeader: true,
                                stateSave: true,
                                buttons: [
                                             { extend: 'copyHtml5', className: 'is-danger is-rounded', title:''},
                                             { extend: 'csvHtml5', className: 'is-info is-rounded', title:''},
                                             { extend: 'excelHtml5', className: 'is-primary is-rounded', title:''}],
                                order: [[1,'desc']],
                                            pagingType: 'full_numbers',
                                                   footerCallback: function (row, data, start, end, display) {
            var api = this.api();

            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };

            // Total over all pages
            total = api
                .column(2)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Total over this page
            pageTotal = api
                .column(2, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Update footer
            $(api.column(2).footer()).html('Rs.' + pageTotal + ' (Rs.' + total + ' total)');
        },
                                lengthMenu: [
                                             [10,25,50,100,-1],
                                            [10,25,50,100,'All'],]
                                        });
                        });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});
        </script>
{% endblock scripts %}
{% endblock content %}
