{% extends "layout.html" %}
{% block title %}Edit payment{% endblock %}
{% block content %}

<h1 class="title">Edit payment</h1>
<form action="" method="post" name="payment_edit">
    {{ form.csrf_token }}
    <table class=table>
        <tr>

            <th> {{form.title.label}}</th>
        <td>
            {{ form.title(required=True, autofocus=True, class='input') }}
            {% for error in form.title.errors %}
        <p class="help has-background-warning">
        {{ error }}
        </p>
        {% endfor %}

        </td></tr>
        <tr>
            <th>{{form.date.label}}</th>
            <td>{{ form.date( class='input') }}</td>
        </tr>


        <tr>
            <th> {{form.amount.label}}</th>
          <td>         {{ form.amount( class='input') }}

        </td></tr>
        <tr>
    <fieldset>
        <th>{{form.mode.label}}</th><td>  {{form.mode}}
    </fieldset>

        </td></tr>
        <tr>

        <fieldset>
           <th> {{form.modeentry.label}}</th><td>{{form.modeentry}}
        </fieldset>

        </td></tr>
        <tr>
            <th>{{form.customerid.label}}

              </th><td>  {{ form.customerid( class='input') }}

        </td></tr>
       
        <tr><th>{{form.voucher.label}}
            </th>
            <td>{{form.voucher (class='input')}}
        </tr>
        <tr>
        <fieldset>
          <th>  {{form.rel_manager.label}}</th><td> {{form.rel_manager}}
        </fieldset>

        </td></tr>
        <tr>
            <th>{{form.broker.label}}
        </th>
             <td>                {{form.broker(class='input')}}

        </td></tr>
        <tr>
        <fieldset>
           <th> {{form.nature.label}} </th><td>{{form.nature}}
        </fieldset>

        </td></tr>
        <tr>
            <th>       {{form.remarks.label}}
    </th>
         <td>                    {{form.remarks(class='input')}}

        </td></tr>

        <tr>
            <th>{{ form.proposal.label}}</th>
            <td> {{ form.proposal(class='input')}}</td>

        </tr>

        <tr>
            <th>{{form.policyno.label}}</th>
            <td>{{form.policyno(class='input')}}</td>

        </tr>

        <tr>        <fieldset>
            <th>{{form.underwriter.label}}</th><td> {{form.underwriter}}
        </fieldset>

        </td></tr>

        <tr>
            <th>{{form.ticket.label}}
        </th>
        <td>                     {{form.ticket(class='input')}}

        </td></tr>
         <tr>        <fieldset>
            <th>{{form.status.label}} </th><td>{{form.status}}
        </fieldset>

        </td></tr>
           </table>
    <div class="field is-grouped">
        <button class="button is-primary is-big">Save</button>
    </div>


</form>
{% endblock %}

