{% extends "leave_layout.html" %}
{% block content %}

<h1 class="title">Employees who were on leave on a specific date </h1>
<form action="" method="post" name="employee_edit">
    {{ form.csrf_token }}
    <table class=table>


        <tr>
            <th>{{form.start_date.label}}</th>
            <td>{{ form.start_date( class='input') }}</td>
        </tr>


    </table>
    <div class="buttons is-centered">
        <button class="button is-primary is-big">Submit</button>
        <a class="button is-danger is-light" href="{{url_for('reports')}}">Go back to Reports</a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
</form>

{% endblock %}

