{% extends "layout.html" %}
{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">

            <h1 class="title">
                LCB Chennai 500200 - payments, receipts, underwriting proposal tracker</h1>
        </div>

</section>

<a class="button is-link" href="{{ url_for('upload') }}">Upload NEFT file</a>
<a class="button is-link" href="{{ url_for('.payments_all') }}">Show all transactions</a>

<div class="mt-10 has-text-centered">
    <h3 class="title is-4">Status summary - underwriter and relationship manager breakup
    </h3>
</div>
{% if tables %}
    <table class="table is-striped is-fullwidth is-bordered is-hoverable" id="table">
    <thead>
        <tr>
            {% for heading in header %}
                <th> {{ heading|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for columns in tables %}
                {% for heading in header %}
                    {% if columns[heading]|int != 0 %}
                        <td class="has-text-right"> {{ columns[heading]|round|int }}</td>
                    {% elif columns[heading] is string %}
                        <td> {{ columns[heading] }}</td>
                    {% else %}
                         <td class="has-text-right">0</td>
                    {% endif %}
                {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
            <tr>
                    {% for heading in header %}
                    <th class="has-text-right"> </th>
                    {% endfor %}
            </tr>
    </tfoot>

    </table>
{% endif %}

<!-- djlint:off -->
<img src="/payments/plot.png"/>
<!-- djlint:on -->    </div>
    <hr/>
    {% block scripts %}

    <script>
        $(document).ready(function () {
                    $('#table').DataTable({
                                "bPaginate": false,
  footerCallback: function (row, data, start, end, display) {
            var api = this.api();

            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };

                  for (var r = 2; r < {{ header | length }}; r++) {
                            // Total over this page
                            pageTotal = api
                                .column(r, { page: 'current' })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Update footer
                            $(api.column(r).footer()).html(pageTotal);
                            }
                             $(api.column(0).footer()).html("Total");
                        },
                                "info": false
                            });
                });
    </script>
    {% endblock scripts %}
    {% endblock content %}
