{% extends "leave_layout.html" %}

{% block content %}
        <h1 class="title"> All the employees</h1>

        {% if users %}
        <form action="" method="post" name="user_list">
        <table class = "table is-striped" id='user_table'>

            <thead>
                <tr>
              {% if current_user.is_admin %}
<th>Select</th>
{% endif %}
                      <th>Employee number</th>
                    <th>Username</th>
 <th>Reset password enabled</th>
 <th>Admin status</th>
            </thead>
            <tbody>

            {% for user in users %}
            {% if current_user.is_admin %}
                        <tr>
    {% if current_user.is_admin %}
<td>  
                <label class="checkbox">
                    <input type="checkbox" name="user_keys" value="{{ user.id }}"/>
                </label></td>
                {% endif %}
                <td> {{ user.emp_number }} </td>
                  <td> <a href="{{ url_for ('view_user_page', user_key=user.id) }}"> {{user.username}}</a> </td>

<td>{{user.reset_password_page}}</td>
<td>{{user.is_admin}}</td>
                     </tr>
 {% endif %}
            {% endfor %}
            </tbody>
        </table>

    {% if current_user.is_admin %}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger ">Delete</button>
            </div>
        </div>

        {% endif %}
        </form>
 
        {% endif %}

 <br>



                  <a class="button is-danger is-light" href="{{ url_for ('leave_project') }}">
                    Go back to leave management home</a>

        {% block scripts %}
        <script>
            $(document).ready(function () {
                            $('#user_table').DataTable({
                                dom: 'lfBrtip',
                                buttons: [
                                                'copyHtml5',
                                                'csvHtml5',
                                                'excelHtml5'],
                                order: [[0,'asc']],
                                            pagingType: 'full_numbers',
                                lengthMenu: [
                                             [10,25,50,100,-1],
                                            [10,25,50,100,'All'],]
                                        });
                        });
        </script>
        {% endblock %}


{% endblock %}

